.p-inputtext{
    border: none;
    font-size: 15px;
    height: auto;
    margin: 2px;
    outline: 2px;
    padding: 15px;
    width: 80%;
    background-color: #bfc5bf;
    color: #111212;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    transition-duration: 4ms ease;
    border-radius: 5px;
}
label{
    font-size: 18px;
    font-weight: 200;
    margin-left: 10px;
    color: #111212;
}
.p-float-label{
    margin-bottom:10%;

}
.add-doctor{
    display: flex;
    align-items:center;
    justify-content: center;
}

.left-det , .right-det{
    flex:0.3;
}

.btn-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.p-password{
    
    margin-top: 10px;
    width: 100%;
}

.p-password-panel{
    background-color: #f0eeee;
    color: #111212;
}

.p-password-show-icon,.p-password-hide-icon{
    right: 25%;
}

.p-password-meter{
    height: 10px;
    font-size: 20px;
}

.p-password-info{
    font-size: 12px;
    color: #999;
}

@media (max-width:805px){
    .add-doctor{
        flex-direction: column;
    }

    .p-inputtext{
        margin-top: 2%;
        width:100%;
    }
    .left-det,.right-det{
        margin-left: 3%;
        width:80%
    }
}
