.flex-container {
    padding: 15px;
   /* align-items: center;*/
    display:flex;
}
.form-container{
justify-content: center;
display: flex;
padding: 40px;
}
fieldset{
    border-width: 0px;
    padding: 10px;
    background-color: #C19C9C;
    border-radius: 20px;
}
#btn1doc{
    background-color: rgb(55, 209, 55);
     color: white;
      padding: 15px;
       margin-right: 10px ;
  }
button{
    margin-top: 20px;
    border-radius: 20px;
    border-width: 0px;
    
  }
#btn2doc{
    background-color: rgb(209, 48, 48);
    color: white;
     padding: 15px;
     padding-left: 18px;
     padding-right: 18px;
      margin-right: 10px ;
  }
.inputboxDoc{
    border-radius: 5px;
    border-width: 0px;
    margin-left: 10px;
}
.btndoctor{
    margin-left: 28%;
}