body{
    margin: 0;
    padding: 0;
}

.main {
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

.docviewpatient .form-containerdocview,
.docviewpatient .right-col {
    padding: 10px;
    width: 800px;
    margin: 0px auto;
}
@media (max-width:675px) {
    .docviewpatient .form-containerdocview,
    .docviewpatient .right-col {
        width: auto;
    }
}

@media (max-width: 650px) {
    .docviewpatient .docviewcontainer {
        flex-direction: column;
        width: auto;
    }

    .docviewpatient .left-col,
    .docviewpatient .right-col {
        flex: none;
        width: 100%;
    }

    .docviewpatient .right-col {
        width: auto;
    }
}

@media (max-width: 600px) {

    .left-col,
    .right-col {
        flex: none;
        width: 100%;
    }

    .form-containerdocview,
    .right-col {
        width: auto;
    }
}

@media (max-width:500px) {

    .form-containerdocview,
    .right-col {
        width: auto;
    }

    .card {
        width: auto;
    }
}

@media (max-width:400px) {
    .card {
        width: auto;
    }
}

.docviewpatient .card {
    background-color: #bfc5bf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.docviewpatient .card-header {
    background-color: #bfc5bf;
    color: black;
    padding: 10px;
    text-align: center;
}

.docviewpatient /.card-body {
    text-align: left;
    padding: 10px;
}

.docviewpatient .report-link {
    display: block;
    margin-bottom: 8px;
    color: #333;
    text-decoration: none;
    padding: 8px;
    background-color: white;
    border-radius: 4px;
}

.docviewpatient .report-link:hover {
    background-color: #ccc;
}

.docviewpatient label {
    font-size: 18px;
    /* Adjust the size as needed */
}

.docviewpatient .btndoctor {
    background-color: #bfc5bf;
    border-radius: 20px;
    padding: 20px;
}

.docviewpatient .form-container {
    justify-content: center;
    display: flex;
    padding: 40px;
}

.docviewpatient .card h2 {
    margin: 0px auto;
    margin-bottom: 10px;
}

.docviewpatient fieldset {
    border-width: 0px;
    padding: 25px;
    background-color: #bfc5bf;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.docviewpatient #btn1doc {
    background-color: #00866E;
    color: white;
    padding: 15px;
    border-radius: 20px;
    border-width: 0px;
    cursor: pointer;
    padding-left: 35px;
    padding-right: 35px;
}

.docviewpatient .btnViewdoc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.docviewpatient .inputboxDoc {
    border-radius: 5px;
    border-width: 0px;
    margin-left: 10px;
}

.docviewpatient .text-box {
    width: 100%;
    height: 180px;
    resize: none;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 0px;

}

.docviewpatient #suggestions-card {
    background-color: #bfc5bf;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.docviewpatient #suggestions-card h2 {
    color: black;
    margin-bottom: 15px;
}

.docviewpatient .slider-container {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.docviewpatient .suggestion-list {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
}

.docviewpatient .suggestion-item {
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.docviewpatient .suggestion-item:hover {
    background-color: #e0e0e0;
}

.docviewpatient .form-row {
    margin-bottom: 5px;
    display: flex;
}

.docviewpatient .form-label {
    display: inline-block;
    width: 30%;
    text-align: left;
    line-height: 30px;
}

.docviewpatient .form-input {
    width: 65%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.docviewpatient .sidetabs {
    display: flex;
    flex-direction: row;
    width: 240px;
    margin-top: 10px;
    border-right: 1px solid #ccc;
    background: #f4f4f4;
}