.flex-container {
    padding: 15px;
   align-items: center;
   justify-content:stretch;
    display:flex;
}
.form-container{
justify-content: center;
display: flex;
padding: 40px;

}

.flex-container label{
    margin-right: 2%;
}

fieldset{
    border-width: 0px;
    padding: 10px;
    background-color: #C19C9C;
    border-radius: 20px;
}
#btn1doc{
    background-color:#00866E;
    color: white;
    padding: 7px;
    cursor: pointer;
    font-size: medium;
    border-radius: 5px;
  }
.btndoctor button{
    margin-top: 3px;
    border-radius: 10px;
    border-width: 0px;
    
  }
#btn2doc{
    background-color: rgb(209, 48, 48);
    color: white;
    padding: 7px;
    cursor: pointer;
    font-size: medium;
    border-radius: 5px;
  }
.inputboxDoc{
    border-radius: 5px;
    border-width: 0px;
    margin-left: 10px;
}
.btndoctor{
    margin-left: 20%;
}