body {
  background-color: #afd0bb8a;
}

.login-bg {
  display: flex;
  height: 100vh;
}

.leftPanel,
.rightPanel {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-inner {
  border-radius: 10px;
  background: linear-gradient(145deg, white 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 40vw;
  height:70vh;
  max-width: 400px;
  text-align: center;
}

.login-inner h1,
h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  margin-top: 10%;
}

.login-form {
  margin-top: 10%;
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input-row {
  display: flex;
  align-items: center;
  width: 80%;
}

.radio {
  display: flex;
  /* flex-direction: row;  */
  justify-content:safe;
  align-items:center;
  margin-top: 4%;
  font-size: 18px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 5%;
}

.radio label {
  margin: 0 5px;
  margin-left:10%;
}

.login-form input {
  margin: 20px 5px;
  width: 70%;
}

.login-input-row label {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.login-input-row input {
  padding: 8px;
  border-radius: 5px;
  border-style: none;
  border: 1px solid #8b47dddb;
}

.login-button {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: black;
  background-color: #B2ECEF;
  border-style: none;
  cursor: pointer;
}

.login-img {
  border-radius: 50%;
  max-width: 100%;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .login-bg {
      flex-direction: column;
  }

  .login-inner {
      width: 90%;
      margin: 10% auto;
      height:105%;
  }

  .login-img {
      display: none;
  }
}
