.navbar {
    background-color: #00866E ;
    padding: 18px;
    display: flex;
    justify-content:space-between;
    align-items: c++enter;
    width: 97.65vw;
  }
  
  .logo {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
  }

  
  
  .nav-links a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin: 0 15px; 
    transition: color 0.3s ease;
    padding-left: 20px;     
  }
  
  .nav-links a:hover {
    color: #9b1616;
  }
  
  .menu-icon {
    display: none;
    color: #131212;
    font-size: 1rem;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      background-color:  #00866E ;
      padding: 15px;
    }
  
    .nav-links.show {
      display: flex;
    }
  
    .nav-links a {
      margin: 10px 0;
    }
  
    .navbar {
      flex-direction: row;
    }
  
    .logo {
      margin-bottom: 8px;
    }
  
    .menu-icon {
      display: block;
    }
  }
  